.productContainer {
  background: #313030;
  position: relative;
  margin-bottom: 10px;
}

.main {
  background: #fefefe;
  height: 200px;
  width: 100%;
  bottom: -1%;
  position: absolute;
  z-index: 1;
}

.productHeading {
  margin-top: 24px;
  font-weight: 700;
  font-family: "Lato";
  font-style: normal;
  color: #f7f7f7;
  text-align: center;
}

.productContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  color: #f7f7f7;
  text-align: center;
}

.productCardI {
  background: #f7f7f7;
  box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  z-index: 2;
}

.productCardII {
  background: #f7f7f7;
  box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  z-index: 2;
}

.grafterIcon {
  margin-top: 6px;
  width: 24px;
}

.cardHeadingI {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #1b1b1b;
  padding: 16px 0px;
}

.cardHeadingII {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #1b1b1b;
}

.cardContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  color: #1b1b1b;
}

.posContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #1b1b1b;
}

.itemContainer {
  width: 100%;
}

.itemsNames {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  color: #1b1b1b;
  padding-left: 2px;
}

.downloadBtn {
  background: #1b1b1b;
  border-radius: 3px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  z-index: 1;
}

.learnMoreBtnI {
  background: #f7f7f7;
  border: 1px solid #1b1b1b;
  border-radius: 3px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #1b1b1b;
  z-index: 1;
}

.learnMoreBtnII {
  background: #df5353;
  border-radius: 3px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .productHeading {
    font-size: 25px;
    line-height: 28px;
  }

  .productContent {
    font-size: 19px;
    line-height: 26px;
  }

  .productContent {
    font-size: 19px;
    line-height: 26px;
  }

  .productCardI {
    width: 80%;
    height: 545px;
  }

  .productCardII {
    width: 80%;
    height: 640px;
  }

  .grafterIcon {
    margin-top: 6px;
    width: 24px;
  }

  .cardHeadingI {
    font-size: 36px;
    line-height: 24px;
  }

  .cardHeadingII {
    font-size: 21px;
    line-height: 31px;
  }

  .cardContent {
    font-size: 14px;
    line-height: 20px;
  }

  .arcImage {
    width: 257px;
    height: 257px;
    bottom: 0;
    left: 0;
  }

  .tablet {
    width: 163px;
    height: 187px;
  }

  .eposImage {
    width: 80%;
  }

  .posContent {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
  }

  .CardImageContainer {
    width: 14px;
    height: 14px;
  }

  .itemsNames {
    font-size: 12px;
    line-height: 22px;
  }

  .downloadBtn,
  .learnMoreBtnI,
  .learnMoreBtnII {
    margin-top: 10px;
    font-size: 15px;
    line-height: 34px;
    width: 256px;
    height: 40px;
    z-index: 1;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 767px) {
  .productHeading {
    font-size: 25px;
    line-height: 28px;
  }

  .productContent {
    font-size: 19px;
    line-height: 26px;
  }

  .productCardI {
    width: 80%;
    height: 545px;
  }

  .productCardII {
    width: 80%;
    height: 640px;
  }

  .cardHeadingI {
    font-size: 36px;
    line-height: 24px;
  }

  .cardHeadingII {
    font-size: 21px;
    line-height: 31px;
  }

  .cardContent {
    font-size: 16px;
    line-height: 24px;
  }

  .arcImage {
    width: 257px;
    height: 257px;
    bottom: 0;
    left: 0;
  }

  .tablet {
    width: 163px;
    height: 187px;
  }

  .eposImage {
    width: 80%;
  }

  .posContent {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
  }

  .CardImageContainer {
    width: 14px;
    height: 14px;
  }

  .itemsNames {
    font-size: 12px;
    line-height: 22px;
  }

  .downloadBtn,
  .learnMoreBtnI,
  .learnMoreBtnII {
    margin-top: 10px;
    font-size: 15px;
    line-height: 34px;
    width: 256px;
    height: 40px;
    z-index: 1;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .productHeading {
    font-size: 3.2vh;
    line-height: 4.2vh;
    width: 90%;
  }

  .productContent {
    font-size: 1.6vh;
    line-height: 2.2vh;
    width: 80%;
  }

  .productCardI,
  .productCardII {
    width: 40%;
    margin: 16px;
  }

  .grafterIcon {
    margin-top: 6px;
    width: 28px;
  }

  .cardHeadingI {
    font-size: 3.4vh;
    line-height: 3.6vh;
  }

  .cardHeadingII {
    font-size: 17px;
    line-height: 19px;
  }

  .cardContent {
    font-size: 12px;
    line-height: 20px;
  }

  .arcImage {
    width: 90%;
    bottom: -1.5%;
    left: 0;
  }

  .tablet {
    width: 65%;
  }

  .eposImage {
    width: 85%;
  }

  .posContent {
    font-size: 12px;
    line-height: 15px;
  }

  .CardImageContainer {
    width: 8px;
    height: 8px;
  }

  .itemsNames {
    font-size: 8px;
    line-height: 10px;
  }

  .downloadBtn,
  .learnMoreBtnI,
  .learnMoreBtnII {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    width: 120px;
    height: 38px;
  }

  .learnMoreBtnI {
    margin-left: 15px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .main {
    height: 250px;
  }
  .productHeading {
    font-size: 42px;
    line-height: 4.2vh;
    letter-spacing: 0px;
  }

  .productContent {
    font-size: 20px;
    line-height: 3.6vh;
    font-weight: 400;
    letter-spacing: 0px;
  }

  .productCardI,
  .productCardII {
    width: 35%;
    margin: 50px;
  }

  .grafterIcon {
    margin-top: 10px;
    width: 22px;
  }

  .cardHeadingI {
    font-size: 32px;
    line-height: 38px;
  }

  .cardHeadingII {
    font-size: 18px;
    line-height: 22px;
  }

  .cardContent {
    font-size: 12px;
    line-height: 20px;
  }

  .arcImage {
    width: 90%;
    bottom: -1%;
    left: 0;
  }

  .tablet {
    width: 60%;
  }

  .eposImage {
    width: 65%;
  }

  .posContent {
    font-size: 12px;
    line-height: 20px;
  }

  .CardImageContainer {
    width: 10px;
  }

  .itemsNames {
    font-size: 10px;
    line-height: 10px;
  }

  .downloadBtn,
  .learnMoreBtnI,
  .learnMoreBtnII {
    margin-top: 10px 24px;
    font-size: 12px;
    line-height: 20px;
    width: 151px;
    height: 40px;
  }
  .learnMoreBtnI {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1824px) {
  .main {
    height: 300px;
  }
  .productHeading {
    font-size: 54px;
    line-height: 80px;
  }

  .productContent {
    font-size: 32px;
    line-height: 40px;
  }
  .cardContainer {
    width: 100%;
  }
  .grafterIcon {
    margin-top: 10px;
    width: 30px;
  }
  .productCardI,
  .productCardII {
    width: 35%;
    margin: 40px;
    padding: 50px;
  }
  .cardHeadingI {
    font-size: 45px;
    line-height: 52px;
  }

  .cardHeadingII {
    font-size: 26px;
    line-height: 32px;
  }

  .cardContent {
    font-size: 18px;
    line-height: 24px;
  }

  .arcImage {
    width: 80%;
    bottom: -1%;
    left: 0;
  }

  .tablet {
    width: 70%;
  }

  .eposImage {
    width: 85%;
  }

  .posContent {
    font-size: 20px;
    line-height: 26px;
  }

  .CardImageContainer {
    width: 14px;
  }

  .itemsNames {
    font-size: 14px;
    line-height: 18px;
  }

  .downloadBtn,
  .learnMoreBtnI,
  .learnMoreBtnII {
    margin-top: 10px 24px;
    font-size: 16px;
    line-height: 20px;
    width: 171px;
    height: 50px;
  }
  .learnMoreBtnI {
    margin-left: 15px;
  }
}