.commonMain {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.commonBody {
  width: 90%;
}

.commonHeading {
  font-weight: 700;
  /* letter-spacing: -1px;
    color: #181818; */
  font-size: 20px;
  line-height: 32px;
}
.commonPara {
  font-weight: 400;
  /* font-size: 13px; */
  letter-spacing: -0.01em;
  /* color: #454545; */
  line-height: 22px;
}

.commonImage {
  width: 100%;
}

.commonButton {
  font-weight: 700;
  /* font-size: 13px; */

  letter-spacing: -0.01em;
  /* color: #1b1b1b;
    background: #f7f7f7;
    border: 1.5px solid #1b1b1b; */
  padding: 12px 20px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  .commonHeading {
    font-size: 23px;
    line-height: 26px;
  }
  .commonPara {
    font-size: 16px;
    line-height:26px;
    margin-bottom: 30px;
  }

  .commonImage {
    width: 100%;
    margin-left: -10%;
  }

  .commonButton {
    font-size: 14px;
  }
  .commonBody {
    margin-bottom: 20px;
    width: 85%;
  }  
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
  /* Styles */

  .commonImage {
    width: 100%;
    margin-left: -10%;
  }

  .commonHeading {
    font-size: 24px;
    line-height: 34px;
  }
  .commonPara {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
    color: #454545;
  }

  .commonButton {
    font-size: 14px;
  }

  .commonBody {
    margin-bottom: 20px;
    width: 85%;
  }  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Styles */

  .commonImage {
    width: 100%;
    margin-left: -11%;
  }

  .commonHeading {
    font-size: 26px;
    line-height: 34px;
  }
  .commonPara {
    font-size: 15px;
    line-height: 27px;
  }

  .commonButton {
    font-size: 14px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles */

  .commonMain {
    margin-top: 50vh;
  }

  .commonImage {
    width: 50%;
    margin-left: -10%;
  }
  .commonTextContainer {
    width: 45%;
  }

  .commonHeading {
    font-size: 28px;
    line-height: 40px;
  }
  .commonPara {
    font-size: 18px;
    line-height: 26px;
  }

  .commonButton {
    font-size: 14px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width: 1024px) {
  /* Styles */

  .commonMain {
    margin-top: 50vh;
  }
  .commonImage {
    width: 50%;
    margin-left: -10%;
  }
  .commonTextContainer {
    width: 38%;
  }

  .commonHeading {
    font-size: 5vh;
    line-height: 7.5vh;
  }
  .commonPara {
    font-size: 2.6vh;
    line-height: 5vh;
  }

  .commonButton {
    font-size: 2.2vh;
    padding: 1vh 3vh;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */

  .commonBody {
    width: 80%;
  }

  .commonImage {
    width: 50%;
    margin-left: -12.5%;
  }
  .commonTextContainer {
    width: 40%;
  }
  .commonPara {
    font-size: 2.5vh;
    line-height: 4vh;
  }

  .commonButton {
    font-size: 2vh;
    padding: 1.2vh 3vh;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */

  .commonPara {
    font-size: 2.2vh;
    line-height: 4vh;
  }

  .commonButton {
    font-size: 1.8vh;
    padding: 1vh 3vh;
  }
}
