.getPaidHeading {
  font-weight: 700;
  letter-spacing: -1px;
  color: #181818;
}
.getPaidPara {
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #454545;
}

.getPaidTextContainer {
  width: 90%;
}

.getPaidImage {
  width: 90%;
}

.getPaidButton {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1b1b1b;
  background: #f7f7f7;
  border: 1.5px solid #1b1b1b;
}

.getPaidCard {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  font-size: 12px;
  line-height: 20px;
  width: 100px;
  padding: 8px;
  font-weight: 600;
}

.getPaidCardImage {
  width: 60%;
  height: 60%;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */

  .getPaidImage {
    width: 100%;
    margin-right: -10%;
  }

  .getPaidCard {
    font-size: 11px;
    line-height: 16px;
    width: 110px;
    height: 110px;
  }
  .getPaidTextContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
  /* Styles */
  .getPaidImage {
    margin-right: -21%;
  }

  .getPaidCard {
    font-size: 13px;
    line-height: 22px;
    width: 130px;
    height: 130px;
  }
  .getPaidTextContainer {
    width: 100%;
  }  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Styles */

  .getPaidImage {
    margin-right: -21%;
  }

  .getPaidCard {
    font-size: 12px;
    line-height: 22px;
    width: 100px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles */
  .getPaidImage {
    width: 55%;
    margin-right: -5.5%;
  }
  .getPaidTextContainer {
    width: 40%;
  }

  .getPaidCard {
    font-size: 13px;
    line-height: 20px;
    width: 100px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width: 1024px) {
  /* Styles */
  .getPaidBody {
    width: 90%;
  }

  .getPaidImage {
    width: 60%;
    margin-right: -5.5%;
  }
  .getPaidTextContainer {
    width: 40%;
  }

  .getPaidCard {
    font-size: 2vh;
    line-height: 3vh;
    width: 120px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */

  .getPaidImage {
    width: 70%;
    margin-right: -12.5%;
  }
  .getPaidTextContainer {
    width: 40%;
  }

  .getPaidCard {
    font-size: 2.2vh;
    line-height: 3vh;
    width: 120px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .getPaidImage {
    width: 70%;
    margin-right: -12.5%;
  }
  .getPaidTextContainer {
    width: 40%;
  }
  .getPaidCard {
    font-size: 2vh;
    line-height: 3vh;
    width: 150px;
  }
}
