.professionalContainer {
  min-height: 100vh;
  background: #313030;
}

.grafterHeading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
}

.grafterContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.grafterrCardContainer {
  width: 100%;
}

.cardContainer {
  width: 30%;
  background: #eaf1fe;
  border-radius: 20px;
}

.cardBgI {
  background: #eaf1fe;
}

.cardBgII {
  background: #fce7e7;
}
.cardBgIII {
  background: #fff9ea;
}

.cardBgIV {
  background: #eef8e7;
}

.cardBgV {
  background: #f5f3ff;
}

.cardImage {
  width: 160px;
  height: 160px;
  text-align: center;
}

.cardHeading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.01em;
}

.cardHeadingI {
  color: #04173c;
}

.cardHeadingII {
  color: #5b1010;
}

.cardHeadingIII {
  color: #604709;
}

.cardHeadingIV {
  color: #1e3a09;
}

.cardHeadingIV {
  color: #190d61;
}

.cardContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.02em;
  color: #181818;
  margin-top: auto;
}

.cardBtn {
  margin-top: 16px;
  width: 176px;
  height: 46px;
  background: #94b7fa;
  border-radius: 3px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.cardBtnBgColorI {
  background: #94b7fa;
}

.cardBtnBgColorII {
  background: #ee8787;
}

.cardBtnBgColorIII {
  background: #ffe296;
}

.cardBtnBgColorIV {
  background: #acda86;
}

.cardBtnBgColorV {
  background: #ccc2ff;
}

@media only screen and (max-width: 320px) {
  .grafterHeading {
    font-size: 25px;
    line-height: 21px;
  }
  .grafterContent {
    font-size: 19px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  .grafterrCardContainer {
    width: 95%;
    justify-content: space-around;
  }
  .cardContainer {
    width: 40%;
    height: 250px;
    /* margin: 2px; */
    border-radius: 10px;
  }
  .cardImage {
    width: 80%;
    height: 120px;
  }
  .cardHeading {
    font-size: 12px;
    line-height: 20px;
  }
  .cardContent {
    font-size: 10px;
    line-height: 15px;
  }
  .cardBtn {
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 321px) and (max-width: 479px) {
  .grafterHeading {
    font-size: 25px;
    line-height: 21px;
  }
  .grafterContent {
    font-size: 19px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  .grafterrCardContainer {
    width: 95%;
    justify-content: space-around;
  }
  .cardContainer {
    width: 40%;
    height: 250px;
    /* margin: 2px; */
    border-radius: 10px;
  }
  .cardImage {
    width: 60%;
    height: 120px;
  }
  .cardHeading {
    font-size: 12px;
    line-height: 20px;
  }
  .cardContent {
    font-size: 10px;
    line-height: 15px;
  }
  .cardBtn {
    width: 100%;
    height: 35px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .grafterHeading {
    font-size: 25px;
    line-height: 21px;
  }
  .grafterContent {
    font-size: 19px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  .grafterrCardContainer {
    width: 90%;
    justify-content: space-around;
  }
  .cardContainer {
    width: 40%;
    height: 290px;
    margin: 8px;
  }
  .cardImage {
    width: 109px;
    height: 109px;
  }
  .cardHeading {
    font-size: 15px;
    line-height: 30px;
  }
  .cardContent {
    font-size: 14px;
    line-height: 20px;
  }
  .cardBtn {
    width: 80%;
    height: 38px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .grafterHeading {
    font-size: 4.2vh;
    line-height: 5.6vh;
  }
  .grafterContent {
    font-size: 2.3vh;
    line-height: 3.2vh;
  }
  .cardContainer {
    width: 28%;
    margin: 10px;
  }
  .cardImage {
    width: 130px;
    height: 150px;
  }
  .cardHeading {
    font-size: 2vh;
    line-height: 3vh;
  }
  .cardContent {
    font-size: 1.4vh;
    line-height: 2vh;
  }
  .cardBtn {
    width: 80%;
    font-size: 16px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 1025px) {
  .grafterHeading {
    font-size: 6.2vh;
    line-height: 7.6vh;
  }
  .grafterContent {
    font-size: 3.3vh;
    line-height: 4.2vh;
  }

  .grafterrCardContainer {
    width: 90%;
    justify-content: space-around;
  }

  .cardContainer {
    width: 18%;
  }
  .cardImage {
    width: 130px;
  }
  .cardHeading {
    margin-top: 10px;
    font-size: 2.4vh;
    line-height: 3.8vh;
  }
  .cardContent {
    font-size: 2vh;
    line-height: 2.6vh;
  }
  .cardBtn {
    width: 80%;
    height: 40px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1540px) {
  .cardContainer {
    width: 16%;
  }
  .cardImage {
    width: 140px;
  }
}

@media only screen and (min-width: 1824px) {
  .grafterHeading {
    font-size: 6.2vh;
    line-height: 7.6vh;
  }
  .grafterContent {
    font-size: 3.3vh;
    line-height: 4.2vh;
  }

  .grafterrCardContainer {
    width: 90%;
  }

  .cardContainer {
    width: 14%;
  }
  .cardImage {
    margin-bottom: 20px;
    width: 100%;
    /* height: 120px; */
  }
  .cardHeading {
    font-size: 2.2vh;
    line-height: 3.4vh;
  }
  .cardContent {
    font-size: 1.4vh;
    line-height: 2.4vh;
  }
  .cardBtn {
    width: 80%;
    font-size: 14px;
    line-height: 22px;
  }
}
