.goGrafterrMain {
  margin-bottom: 5vh;
  margin-top: 10vh;
}

.goGrafterrBody {
  width: 90%;
}

.goGrafterrHeading {
  font-weight: 700;
  letter-spacing: -1px;
  color: #181818;
}
.goGrafterrPara {
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #454545;
}

.goGrafterrImage {
  width: 100%;
}

.goGrafterrButton {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #1b1b1b;
  background: #f7f7f7;
  border: 1.5px solid #1b1b1b;
  padding: 7px 20px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  .goGrafterrImage {
    width: 100%;
    margin-left: -10%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
  /* Styles */
  .goGrafterrImage {
    width: 100%;
    margin-left: -10%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Styles */
  .goGrafterrImage {
    width: 100%;
    margin-left: -11%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles */

  .goGrafterrImage {
    width: 50%;
    margin-left: -10%;
  }
  .goGrafterrTextContainer {
    width: 50%;
    margin-left: 10%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width: 1024px) {
  /* Styles */
  .goGrafterrImage {
    width: 50%;
    margin-left: -10%;
  }
  .goGrafterrTextContainer {
    width: 45%;
    margin-left: 10%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .goGrafterrMain {
    margin-bottom: 15vh;
  }

  .goGrafterrImage {
    width: 50%;
    margin-left: -12.5%;
  }
  .goGrafterrTextContainer {
    width: 42%;
  }
}

@media only screen and (min-width: 1824px) {
  /* Styles */
  .goGrafterrMain {
    margin-bottom: 15vh;
  }

  .goGrafterrImage {
    width: 55%;
    /* margin-left: -12.5%; */
  }
  .goGrafterrTextContainer {
    width: 48%;
  }
}