.partnerContainer {
  min-height: 50vh;
  width: 100%;
  background-color: #ffffff;
}

.partnerCard {
  width: 90%;
  background: linear-gradient(
    93.74deg,
    #323232 1.62%,
    #181818 49.01%,
    #454545 99.47%
  );
  border-radius: 40px;
}

.partnerHeading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  color: #fefefe;
}

.partnerContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
  color: #fefefe;
}

.imageContainer {
  width: 85%;
}

.stripeImg {
  width: 72px;
  height: 32px;
}
.xeroImg {
  width: 44px;
  height: 44px;
  margin: 14px 24px;
}

.sumupImg {
  width: 132px;
  height: 40px;
}

.messageBirdImg {
  width: 220px;
  height: 40px;
  margin: 14px 24px;
}
.paymentSenseImg {
  width: 178px;
  height: 40px;
}
.evoImg {
  width: 69px;
  height: 40px;
  margin: 14px 24px;
}
.worldPayImg {
  width: 190px;
  height: 40px;
}

.mailChimpImg {
  width: 137px;
  height: 40px;
  margin: 14px 24px;
}

@media only screen and (max-width: 320px) {
  .partnerCard {
    width: 80%;
    margin-top: 5%;
    border-radius: 20px;
  }
  .partnerHeading {
    font-size: 3.2vh;
    line-height: 3.8vh;
  }
  .partnerContent {
    font-size: 2.1vh;
    line-height: 3.2vh;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
  .imageContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .partnerCard {
    width: 90%;
    margin-top: 5%;
    border-radius: 20px;
  }
  .partnerHeading {
    font-size: 3.8vh;
    line-height: 5vh;
    padding-bottom: 10px;
  }
  .partnerContent {
    font-size: 18px;
    line-height: 24px;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
  .imageContainer {
    width: 100%;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .partnerCard {
    width: 90%;
  }
  .partnerHeading {
    font-size: 3.2vh;
    line-height: 4.8vh;
  }
  .partnerContent {
    font-size: 2vh;
    line-height: 3.2vh;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  .partnerCard {
    width: 90%;
  }
  .partnerHeading {
    font-size: 5.2vh;
    line-height: 6.8vh;
  }
  .partnerContent {
    font-size: 2.8vh;
    line-height: 3.2vh;
  }
  .imageContainer {
    width: 90%;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
}

@media only screen and (min-width: 1824px) {
  .stripeImg {
    width: 72px;
    height: 32px;
  }
  .xeroImg {
    width: 44px;
    height: 44px;
  }

  .sumupImg {
    width: 132px;
    height: 40px;
  }

  .messageBirdImg {
    width: 220px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 178px;
    height: 40px;
  }
  .evoImg {
    width: 69px;
    height: 40px;
  }
  .worldPayImg {
    width: 190px;
    height: 40px;
  }

  .mailChimpImg {
    width: 137px;
    height: 40px;
  }
}
@media only screen and (min-width: 1022px) {
  .partnerCard {
    width: 90%;
  }
  .partnerHeading {
    font-size: 5.2vh;
    line-height: 6.8vh;
  }
  .partnerContent {
    font-size: 2.8vh;
    line-height: 3.2vh;
  }
  .imageContainer {
    width: 90%;
  }

  .stripeImg,
  .xeroImg,
  .sumupImg,
  .messageBirdImg,
  .paymentSenseImg,
  .evoImg,
  .worldPayImg,
  .mailChimpImg {
    position: absolute;
  }
  .stripeImg {
    width: 56px;
    height: 22px;
    animation: stripe 3s infinite;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
    animation: xero 3s infinite;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
    animation: sumup 3s infinite;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
    animation: messageBird 3s infinite;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
    animation: paymentSense 3s infinite;
  }
  .evoImg {
    width: 49px;
    height: 30px;
    animation: evo 3s infinite;
    animation-delay: evo 3s;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
    animation: worldPay 3s infinite;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
    animation: mailChimp 3s infinite;
  }

  @keyframes stripe {
    0% {
      left: 23%;
    }
    50% {
      left: 75%;
    }
    100% {
      left: 23%;
    }
  }

  @keyframes xero {
    0% {
      left: 27%;
    }
    50% {
      left: 70%;
    }
    100% {
      left: 27%;
    }
  }

  @keyframes sumup {
    0% {
      left: 33%;
    }
    50% {
      left: 65%;
    }
    100% {
      left: 33%;
    }
  }
  @keyframes messageBird {
    0% {
      left: 38%;
    }
    50% {
      left: 52%;
    }
    100% {
      left: 38%;
    }
  }
  @keyframes paymentSense {
    0% {
      left: 51%;
    }
    50% {
      left: 42%;
    }
    100% {
      left: 51%;
    }
  }
  @keyframes evo {
    0% {
      left: 60%;
    }
    50% {
      left: 34%;
    }
    100% {
      left: 60%;
    }
  }

  @keyframes worldPay {
    0% {
      left: 66%;
    }
    50% {
      left: 18%;
    }
    100% {
      left: 66%;
    }
  }

  @keyframes mailChimp {
    0% {
      left: 74%;
    }
    50% {
      left: 26%;
    }
    100% {
      left: 74%;
    }
  }
}

@media only screen and (min-width: 1824px) {
  .partnerCard {
    height: 470px;
    justify-content: center;
  }

  .partnerContent {
    margin-top: 30px;
  }
  .imageContainer {
    margin-top: 30px;
  }

  .stripeImg {
    width: 72px;
    height: 32px;
  }
  .xeroImg {
    width: 44px;
    height: 44px;
  }

  .sumupImg {
    width: 132px;
    height: 40px;
  }

  .messageBirdImg {
    width: 220px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 178px;
    height: 40px;
  }
  .evoImg {
    width: 69px;
    height: 40px;
  }
  .worldPayImg {
    width: 190px;
    height: 40px;
  }

  .mailChimpImg {
    width: 137px;
    height: 40px;
  }

  @keyframes stripe {
    0% {
      left: 18%;
    }
    50% {
      left: 77%;
    }
    100% {
      left: 18%;
    }
  }

  @keyframes xero {
    0% {
      left: 22%;
    }
    50% {
      left: 72%;
    }
    100% {
      left: 22%;
    }
  }

  @keyframes sumup {
    0% {
      left: 28%;
    }
    50% {
      left: 65%;
    }
    100% {
      left: 28%;
    }
  }
  @keyframes messageBird {
    0% {
      left: 36%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 36%;
    }
  }
  @keyframes paymentSense {
    0% {
      left: 50%;
    }
    50% {
      left: 39%;
    }
    100% {
      left: 50%;
    }
  }
  @keyframes evo {
    0% {
      left: 60%;
    }
    50% {
      left: 32%;
    }
    100% {
      left: 60%;
    }
  }

  @keyframes worldPay {
    0% {
      left: 66%;
    }
    50% {
      left: 12%;
    }
    100% {
      left: 66%;
    }
  }

  @keyframes mailChimp {
    0% {
      left: 75%;
    }
    50% {
      left: 22%;
    }
    100% {
      left: 75%;
    }
  }
}