.partnerContainer {
  min-height: 50vh;
  width: 100%;
  background-color: #ffffff;
}

.partnerCard {
  width: 90%;
  background: linear-gradient(
    93.74deg,
    #323232 1.62%,
    #181818 49.01%,
    #454545 99.47%
  );
  border-radius: 40px;
}

.partnerHeading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  color: #fefefe;
}

.partnerContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
  color: #fefefe;
}

.imageContainer {
  width: 85%;
}

.stripeImg {
  width: 72px;
  height: 32px;
}
.xeroImg {
  width: 44px;
  height: 44px;
  margin: 14px 24px;
}

.sumupImg {
  width: 132px;
  height: 40px;
}

.messageBirdImg {
  width: 220px;
  height: 40px;
  margin: 14px 24px;
}
.paymentSenseImg {
  width: 178px;
  height: 40px;
}
.evoImg {
  width: 69px;
  height: 40px;
  margin: 14px 24px;
}
.worldPayImg {
  width: 190px;
  height: 40px;
}

.mailChimpImg {
  width: 137px;
  height: 40px;
  margin: 14px 24px;
}

@media only screen and (max-width: 320px) {
  .partnerCard {
    width: 80%;
    margin-top: 5%;
    border-radius: 20px;
  }
  .partnerHeading {
    font-size: 3.2vh;
    line-height: 3.8vh;
  }
  .partnerContent {
    font-size: 2.1vh;
    line-height: 3.2vh;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
  .imageContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
  .partnerCard {
    width: 90%;
    margin-top: 5%;
    border-radius: 20px;
  }
  .partnerHeading {
    font-size: 3.8vh;
    line-height: 5vh;
    padding-bottom: 10px;
  }
  .partnerContent {
    font-size: 18px;
    line-height: 24px;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
  .imageContainer {
    width: 100%;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .partnerCard {
    width: 90%;
  }
  .partnerHeading {
    font-size: 3.2vh;
    line-height: 4.8vh;
  }
  .partnerContent {
    font-size: 2vh;
    line-height: 3.2vh;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  .partnerCard {
    width: 90%;
  }
  .partnerHeading {
    font-size: 5.2vh;
    line-height: 6.8vh;
  }
  .partnerContent {
    font-size: 2.8vh;
    line-height: 3.2vh;
  }
  .imageContainer {
    width: 90%;
  }
  .stripeImg {
    width: 56px;
    height: 25px;
  }
  .xeroImg {
    width: 26px;
    height: 26px;
  }

  .sumupImg {
    width: 69px;
    height: 30px;
  }

  .messageBirdImg {
    width: 120px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 120px;
    height: 30px;
  }
  .evoImg {
    width: 49px;
    height: 30px;
  }
  .worldPayImg {
    width: 120px;
    height: 30px;
  }

  .mailChimpImg {
    width: 80px;
    height: 30px;
  }
}

@media only screen and (min-width: 1824px) {
  .stripeImg {
    width: 72px;
    height: 32px;
  }
  .xeroImg {
    width: 44px;
    height: 44px;
  }

  .sumupImg {
    width: 132px;
    height: 40px;
  }

  .messageBirdImg {
    width: 220px;
    height: 40px;
  }
  .paymentSenseImg {
    width: 178px;
    height: 40px;
  }
  .evoImg {
    width: 69px;
    height: 40px;
  }
  .worldPayImg {
    width: 190px;
    height: 40px;
  }

  .mailChimpImg {
    width: 137px;
    height: 40px;
  }
}
