.professionalBody {
  width: 90%;
  background-color: #313030;
}

.professionalHeading {
  font-weight: 700;
  letter-spacing: -1px;
  color: #ffffff;
}
.professionalPara {
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.professionalImage {
  width: 90%;
}

.professionalButton {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #ffffff;
  background: #313030;
  border: 1.5px solid #ffffff;
  display: block;
  width: 175px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.professionalTickImage {
  width: 15px;
  height: 15px;
}
.professionalTickText {
  margin-left: 15px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 5px 0 5px 15px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */

  .professionalTickText {
    margin-left: 15px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin: 5px 0 5px 15px;
  }
  .professionalButton {
    margin-bottom: 20px;
    width: 100%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles */
  .professionalImage {
    width: 50%;
  }
  .professionalTextContainer {
    width: 45%;
  }

  .professionalTickText {
    font-size: 13px;
    line-height: 20px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width: 1024px) {
  /* Styles */
  .professionalImage {
    width: 55%;
  }
  .professionalTextContainer {
    width: 38%;
  }

  .professionalTickText {
    font-size: 2vh;
    line-height: 3.5vh;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */

  .professionalImage {
    width: 60%;
    margin-left: -5%;
  }
  .professionalTextContainer {
    width: 40%;
  }

  .professionalTickText {
    font-size: 2.2vh;
    line-height: 3.5vh;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .professionalTickText {
    font-size: 2vh;
    line-height: 3.5vh;
  }

  .professionalImage {
    width: 60%;
    margin-left: -5%;
  }
  .professionalTextContainer {
    width: 40%;
  }
}

@media (max-width:500px){
  .professionalButton {
    margin-top: 40px;
    width: 100%;
  }
}
